<%- include('../shared/includes/head', { pageTitle: 'Admin Portal' }) %>
    <link rel="stylesheet" href="/styles/candidates.css">
    <script src="/scripts/candidate-management.js" defer></script>
    </head>

    <body>
        <%- include('../shared/includes/header') %>
            <main>
                <h2>Administration</h2>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                    <button class="btn">Logout</button>
                </form>
                <h3>Candidates</h3>
                <div class="candidate-sort">
                    <a class="btn btn-alt" data-csrf="<%= locals.csrfToken %>" href="/lookingforjob">
                        All Positions
                    </a>
                    <% for (const position of candidatePositions) { %>

                        <a href="/lookingforjob/<%= position %>/sort" class="btn btn-alt"
                            data-csrf="<%= locals.csrfToken %>">
                            <%= position + "s" %>
                        </a>

                        <% } %>
                </div>
                <section>
                    <ul id="candidate-grid">
                        <% for (const candidate of candidates) { %>
                            <li>
                                <%- include("includes/candidate-card", {candidate: candidate}) %>
                            </li>
                            <% } %>
                    </ul>
                </section>
            </main>
            <%- include('../shared/includes/footer') %>