<article class="candidate-card">
    <div class="candidate-card-content">
        <h4>
            <%= candidate.position %>
        </h4>
        <p class="date-time">
            <%= candidate.dateTime %>
        </p>
        <p>
            <%= candidate.firstname %>
        </p>
        <p>
            <%= candidate.lastname %>
        </p>
        <p>
            <%= candidate.phone %>
        </p>
        <p>
            <%= candidate.email %>
        </p>

        <div class="candidate-card-actions">
            <a class="btn btn-alt" href="/lookingforjob/<%= candidate._id %>">View CV/Resume</a>
            <button class="btn btn-alt" data-candidateid="<%= candidate._id %>"
                data-csrf="<%= locals.csrfToken %>">Delete</button>
        </div>

    </div>
</article>